@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  font-family: "Muli", sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
    
}